[submodule "roles/ansible-chronos"]
	path = roles/ansible-chronos
	url = git@github.com:JasonGiedymin/ansible-chronos.git
[submodule "roles/ansible-docker"]
	path = roles/ansible-docker
	url = git@github.com:JasonGiedymin/ansible-docker.git
[submodule "roles/ansible-marathon"]
	path = roles/ansible-marathon
	url = git@github.com:JasonGiedymin/ansible-marathon.git
[submodule "roles/ansible-mesos"]
	path = roles/ansible-mesos
	url = git@github.com:JasonGiedymin/ansible-mesos.git
[submodule "roles/ansible-mesos-docker"]
	path = roles/ansible-mesos-docker
	url = git@github.com:JasonGiedymin/ansible-mesos-docker.git
[submodule "roles/ansible-nodejs"]
	path = roles/ansible-nodejs
	url = git@github.com:JasonGiedymin/ansible-nodejs.git
[submodule "roles/ansible-sbt"]
	path = roles/ansible-sbt
	url = git@github.com:JasonGiedymin/ansible-sbt.git
[submodule "roles/ansible-scala"]
	path = roles/ansible-scala
	url = git@github.com:JasonGiedymin/ansible-scala.git
